* {
    margin: 0;
    padding: 0;
        border-collapse: collapse;
}

#hide {
    display: none;
}

#GameBoard {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


/* ////////////////   TABLERO  //////////////////// */

#board {
    margin: 20px;
    padding: 3px;
    border-radius: 8px;
    width: 35vw;
    height: 35vw;
    background-color: rgb(94, 94, 94);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


/* ////////////////   CEMENTERIO  //////////////////// */

#cementerios{
    width: 20vw;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.cementerio {
    border: 1px solid black;
    margin: 1vw 0;
    width: 15vw;
    height: 10vw;
    background-color: #d5986f;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    padding: -5px;
}