
.cementerio {
    /* flex: 0 0 40%; */
    border: 1px solid black;
    margin-top: 5%;
    /* width: 200px;
    height: 60px; */

    width: 30vw;
    height: 8vw;
    background-color: #769655;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#pieceDeath {
    flex: 0 0 20%;
    margin-right: -8%;
    margin-left: 5%;
}

.imagePieceDeath {
    width: 40%;

}

