.light_square,
.dark_square,
.light_square_brown,
.dark_square_brown,
.dark_square_blue,
.light_square_blue {
    flex-basis: 12.3%;
    height: 12.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
    -webkit-touch-callout: none;
    box-shadow: inset 0px 0px 0px .1px rgb(0, 0, 0);
}

.light_square {
    background-color: #eeeed2;
}
.dark_square {
    background-color: #769655;
}


.light_square_brown {
    background-color: #E3C16F;
}
.dark_square_brown {
    background-color: #B88B4A;
}


.light_square_blue {
    background-color: #EEF1F1;
}
.dark_square_blue {
    background-color: #4b64a8;
}


/* ////////////////   ID  //////////////////// */

#id {
    font-size: 0.5em;
    margin-top: 70%;
    position: absolute;
    margin-bottom: 66.8%;
    margin-left: 3%;
}

/* ////////////////   COORD  //////////////////// */

#coordWhite {
    color: #eeeed2
}

#coordGreen {
    color: #769655;
}


#coordBrown {
    color: #efcc79;
}

#coordBrownDark {
    color: #a47a3f;
}


#coordWhiteBlue {
    color: #EEF1F1;
}

#coordBlue {
    color: #4b64a8;
}


.coordNum {
    font-size: .9em;
    margin-top: 70%;
    position: absolute;
    margin-bottom: 73.2%;
    margin-left: -3%;
    font-family: Raleway;
    font-weight: bold;
}

.coordLet {
    font-size: .9em;
    margin-top: 70%;
    position: absolute;
    margin-bottom: 66.3%;
    margin-left: -3%;
    font-family: Raleway;
    font-weight: bold;
}

/* ////////////////   PIEZAS  //////////////////// */
.piece {
    width: 80%;
}

#board>img:hover {
    cursor: pointer;
}

#board>img:active {
    cursor: grabbing;
}


/* ////////////////   POSIBLES  //////////////////// */

.movement {
    position: absolute;
    margin: 0;
    width: 2vw;
    height: 2vw;
}

#selected {
    /* background-color: rgb(100, 187, 209);
    box-shadow: inset 0px 0px 0px .5px rgb(0, 0, 0); */
    background: url("../images/notif/selected.png") center no-repeat;
    background-size: 100%;
    /* opacity: 0.7; */
}

/* ////////////////   JAQUE  //////////////////// */

.check {
    position: absolute;
    margin: 0;
    width: 3vw;
    height: 3vw;
}

#piezaJaque {
    /* background: url(../images/notif/shine.png) center no-repeat; */
    -webkit-box-shadow: 0 0 20px 13px rgb(246 255 0 / 80%);
    background-size: 100%;
    opacity: 0.7;
    position: fixed;
    width: 3.6vw;
    height: 3.6vw;
}

#casillaJaque {
    background-color: rgb(255, 174, 0);
    box-shadow: inset 0px 0px 0px .5px rgb(0, 0, 0);
}


#death {
    background-color: rgb(192, 78, 78);
    box-shadow: inset 0px 0px 0px .5px rgb(0, 0, 0);

}


/* ////////////////   RIVAL JAQUE  //////////////////// */

#checkmate {
    background-color: rgba(238, 255, 0);
    box-shadow: inset 0px 0px 0px .5px rgb(0, 0, 0);
}


/* //////////////////   ELIMINAR  ////////////////////// */

.eat {
    position: absolute;
    margin: 0;
    width: 3vw;
    height: 3vw;
}

#true {
    background: url("../images/notif/comer.png") center no-repeat;
    background-size: 100%;
    opacity: 0.7;
}

#trueKing {
    background: url("../images/notif/comerKing.png") center no-repeat;
    background-size: 140%;
    opacity: 0.9;
}


/* ////////////////   PELIGROSAS  //////////////////// */

.warning {
    position: absolute;
    margin-bottom: -2.5%;
    margin-left: 2.5%;
    width: 3vw;
    height: 3vw;
}

#peligro {
    background: url("../images/notif/red.png") bottom right no-repeat;
    background-size: 100%;
}


/*//////////////////// CASI MUERTA ////////////////////// */

#pieceDanger {
    background-color: rgb(240, 58, 58);
    box-shadow: inset 0px 0px 0px .5px rgb(0, 0, 0);
}