.App {
  text-align: center;
  min-height: 100vh;

}


/* ////////////////   FONDOS   //////////////////// */

#mainBack {
  background: url("./components/images/home/mainBackground.jpg");
  background-size: cover;
}

#inicioBack {
  background: url("./components/images/home/InicioBackground2.jpg");
  background-size: cover;
}

/* ////////////////   HEADER  //////////////////// */

#header {
  border: 2px solid black;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  background-color: #282c34;
}

#refresh {
  margin: 0;
}

#buttonRefresh {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.4em;
  margin-top: 8px;
}


/* ////////////////   MAIN  //////////////////// */


#main {
  display: flex;
  border: 2px solid red;
}


#mainBoard {
  width: 40%;
}



/*//////////// OPTIONS ////////////////// */

#options {
  border: 1px solid blue;
  width: fit-content;
  margin-left: 200px;
  flex: auto;
}


#options label {
  font-size: 2em;
  background-color: #ffffff86;
}

#options input {
  width: 25px;
  height: 25px;

}