


.App {
  text-align: center;
  min-height: 100vh;
  background: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
}

/* /////////////////////////////////////////////////// */

#header {
  border: 2px solid black;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  background-color: #282c34;
}

#refresh {
  margin: 0;
}

#buttonRefresh {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.4em;
  margin-top: 8px;
}


#main{
  display: flex;
  border: 2px solid red;
}


#mainBoard{
  width: 40%;
}



/*//////////// OPTIONS ////////////////// */

#options{
  border: 1px solid blue;
  width: fit-content;
  margin-left: 200px;
  flex: auto;
}


#options label{
  font-size: 1.4em;
}

#options input{
  width: 20px;
  height: 20px;
}