.App {
  text-align: center;
  min-height: 100vh;

}


/* ////////////////   FONDOS   //////////////////// */

#mainBack {
  background: url("./components/images/main/mainBackground.jpg");
  background-size: cover;
}

#inicioBack {
  background: url("./components/images/main/InicioBackground2.jpg");
  background-size: cover;
}

/* ////////////////   HEADER  //////////////////// */

#header {
  border: 2px solid black;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  background-color: #282c34;
}

#refresh {
  margin: 0;
}

#buttonRefresh {
  padding: 10px;
  border-radius: 5px;
  font-size: 1.4em;
  margin-top: 8px;
}


/* ////////////////   MAIN  //////////////////// */


#main {
  display: flex;
  border: 2px solid red;
}


#mainBoard {
  width: 40%;
}



/*//////////// OPTIONS ////////////////// */

#AllOptions {
  border: 1px solid blue;
  width: fit-content;
  margin-left: 200px;
  flex: auto;
}


.option {
  display: flex;
  align-items: center;
}


.switchLabel {
  font-size: 2em;
  font-weight: 600;
  /* background-color: #ffffff86; */
  flex: 1 0 10%;
  /* margin-right: -3vw; */
}

.switchButton {
  flex: 1 0 50%;
}