* {
    margin: 0;
    padding: 0;
}

#hide {
    display: none;
}

#board {
    margin-top: 20px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 8px;
    width: 35vw;
    height: 35vw;
    background-color: rgb(94, 94, 94);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.light_square {
    background-color: #eeeed2;
}

.dark_square {
    background-color: #769655;
}

#selected {
    background-color: rgb(100, 187, 209);
    box-shadow:inset 0px 0px 0px 1px rgb(0, 0, 0);
    
}

#board>div {
    flex-basis: 12.3%;
    height: 12.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 0.65em;
    margin-top: 70%;
    position: absolute;
    margin-bottom: 66.7%;
    margin-left: 2.6%;
}

#id {
    font-size: 0.5em;
    margin-top: 70%;
    position: absolute;
    margin-bottom: 66.7%;
    margin-left: -2%;
}


.piece {
    width: 70%;
}

.piece:hover {
    cursor: grab;
}

.piece:active {
    /* cursor: grabbing; */
}